[submodule "assignment-0-angelajmzhou"]
	path = assignment-0-angelajmzhou
	url = https://github.com/VIDITeaching/assignment-0-angelajmzhou.git
[submodule "ecs-175"]
	path = ecs-175
	url = https://github.com/VIDITeaching/assignment-1-angelajmzhou.git
